<?xml version="1.0"?>
<!--
/**
 * Copyright (c) FalconMedia. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminpasskey" frontName="adminpasskey">
            <module name="FalconMedia_AdminPasskey" before="Magento_Backend"/>
        </route>
    </router>
</config>
